table {
  /*width: 100%;*/
  table-layout: fixed;
  margin: auto;
  border: 1px solid #FFFFFF;
  border-collapse: collapse;
}

table tr {
  height : 20px;
}

table td {
  width: 20px;
  border: 1px solid #FFFFFF;
}